# Project dependencies
frontend/node_modules
backend/node_modules
# Secrets
.env
certificates
# Text editor settings
.vscode
# Test outputs
backend/coverage
# Temporary Local Files, including build files and cache:
frontend/.cache
frontend/dist
# Concept art, blueprints:
mockups
# The map editor in its entirety:
world_editor