$bg-color: black;
$txt-color: white;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-name {
  border-radius: 8px;
  position: absolute;
  font-size: 20px;
  height: 32px;
  top: 256px;
}

.login-password {
  border-radius: 8px;
  position: absolute;
  font-size: 20px;
  height: 32px;
  top: 360px;
}

.login-password-confirm {
  border-radius: 8px;
  position: absolute;
  font-size: 20px;
  height: 32px;
  top: 464px;
}
